<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="https://kit.fontawesome.com/529e8dae94.js" crossorigin="anonymous"></script>
    <title>April HTML/CSS Challenge</title>
</head>

<body>
    <header>
        <div class="toolbar">
            <img border="0" alt="Picture main" src="../static/IMG/Paris.jpg" height="50px" >
            <nav class="links">
                <a href="#">HOME</a>
                <a href="#">PAGES</a>
                <a href="#">WORK</a>
                <a href="#">BLOG</a>
                <a href="#">CONTACT</a>
                <a href="#">STYLES</a>
            </nav>
        </div>

        <div>
            <img src="..\static\IMG\Female-Monochrome-Studio-Girl-Profile-Retro-Woman-4647747.jpg">
        </div>
    </header>

    <main>
        <div class="container">
            <div class="card">
                <div class="item1">
                    <i class="far fa-eye fa-3x"></i>
                </div>
                <div class="item2">IN THE DETAILS</div>
                <div class="item3">Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed. </div>
                <div class="item4">
                    <button>ABOUT</button>
                </div>
            </div>

            <div class="card">
                <div class="item1">
                    <i class="fas fa-pencil-alt fa-3x"></i>
                </div>
                <div class="item2">TIP-TOP CODING</div>
                <div class="item3">Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed. </div>
                <div class="item4">
                    <button>TEAM</button>
                </div>
            </div>
            <div class="card">
                <div class="item1">
                    <i class="far fa-gem fa-3x"></i>
                </div>
                <div class="item2">QUALITY DESIGN</div>
                <div class="item3">Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed. </div>
                <div class="item4">
                    <button>WORK</button>
                </div>
            </div>
            <div class="card">
                <div class="item1">
                    <i class="far fa-thumbs-up fa-3x"></i>
                </div>
                <div class="item2">HAPPY CLIENTS</div>
                <div class="item3">Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed. </div>
                <div class="item4">
                    <button>QUOTE</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="title" style="color:#696963;">
                LATEST DESIGN PROJECTS
            </div>
        </div>
        <div class="container2">
            <div style="margin-right:-20px;">
                <img src="..\static\IMG\undraw_personal_goals_edgd.svg" width="150px">
            </div>
            <div>
                <img src="..\static\IMG\undraw_hologram_fjwp.svg" width="150px">
            </div>
            <div>
                <img src="..\static\IMG\undraw_drone_surveillance_kjjg.svg" width="150px">
            </div>
            <div>
                <img src="..\static\IMG\undraw_to_the_moon_v1mv.svg" width="150px">
            </div>
            <div>
                <img src="..\static\IMG\undraw_composition_oskp.svg" width="150px">
            </div>

        </div>
        <div class="banner">
            <p>an attention grabbing call-to-action banner</p>
            <button>BUY NOW</button>

        </div>
    </main>

<footer>
    <div class="icon far fa-gem fa-2x" style="font-size:30px;"></div>
    <div class="container" style="justify-content: center;">
        <div class="sprite1"></div>
        <div class="sprite2"></div>
        <div class="sprite3"></div>
        <div class="sprite4"></div>
        <div class="sprite5"></div>
        <div class="sprite6"></div>
    </div>
    <div>23 Morninton Cresent // Camden // London // +44 020 234 198</div>
    <div>Paris ¤ 2014 - All rights Reserved | Template by Spiral Pixel</div>
    <div></div>
    <div></div>
</footer>

    <script src="jquery.js"></script>
    <script src="script.js"></script>


</body>
</html>